/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/upload
/public/posters
/storage/*.key
/storage/logs/*.log
/vendor

.env
.env.backup
.env.production

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

database_backup*.sql
hcgaming.sql
*.zip
